.header {
    display: flex;
    box-sizing: border-box;
    padding: 0 50px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 40px;
    background: #ef6565;
}

.btn1 {
    padding-top: 3px;
    color: white;
}

.lazyoutlet {
    margin-top: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}