.example-card {
    max-width: 238px;
    margin-left: 20px;
    height: 350px;
    margin-bottom: 80px;
    box-shadow: 0px 1px 1px 0px;
}

.example-header-image {
    
    background-size: cover;
}
.img{
    max-width:500px;
    height: 206px;
    
}
.productcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 7px;
}