.example-spacer {
    flex: 1 1 auto;
}

.btn {
    padding-top: 3px;
    color: darkred;
}

.single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 50px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 60px;
    background: #eee;
}

.outlet {
    margin-bottom: 0%;
}